/* GAME SETUP */
.game_setup
{
	width: 900px;
	height: 600px;
	margin: 0 auto;
	clear: both;
}

.game_setup h1
{
	height: 50px;
}

.setup_option
{
	float: left;
	height: 500px;
}

.setup_option h3, .setup_option p
{
	height: 50px;
	width: 90%;
	margin: 0 auto;
	line-height: 50px;
	margin-bottom: 10px;
	background-color: #fff;
	border-radius: 5px;
}

.x01_setup, .nandc_setup
{
	width: 33.3%
}

.cricket_setup, .darts_at_setup
{
	width: 50%;
}

.opponent
{
	margin-top: 70px;
}

.opponent input
{
	height: 50px;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	text-align: left;
	padding-left: 10px;
}

#u_login, #g_name
{
	text-align: center;
	padding-left: 0;
}