/* GAME SETUP */
.game_setup
{
	width: 900px;
	height: 600px;
	border: 2px solid black;
}

.game_setup h1
{
	height: 50px;
}

.setup_option
{
	width: 33.3%;
	float: left;
	height: 500px;
}

.setup_option h3, .setup_option p
{
	height: 50px;
	line-height: 50px;
}

.opponent
{
	margin-top: 50px;
}

.opponent input
{
	height: 50px;
	width: 100%;
}